Repository miniSat/Minisat, pull requests merged in 2018-04, with the labels that each got.

#167 Add docstring in vm_manage module
  satellite/modules/dashboard_details.py
  satellite/modules/docker_manage.py
  satellite/modules/kickstart.py
  satellite/modules/ssh_connect.py
  satellite/modules/vm_manage.py
Labels: docstring

#166 Added docs of component section
  docs/components.rst
Labels: docs

#168 Add docstring to views.py
  satellite/models.py
  satellite/modules/compute_details.py
  satellite/templates/infrastructure/compute_resource.html
  satellite/views.py
Labels: docstring

#169 Added docstring to forms.py
  satellite/forms.py
Labels: docstring

#170 Docs of Usage
  docs/usage.rst
  satellite/templates/Content/activation_key.html
  satellite/templates/Content/content_view.html
  satellite/templates/base.html
Labels: docs

#174 Elaborate products, views and activation key and few minor changes
  docs/components.rst
  docs/contribute.rst
  docs/installation.rst
  docs/usage.rst
Labels: docs, docstring

#175 Added Testing doc string and add added in docs
  docs/methods.rst
  satellite/test_minisat.py
Labels: docs, docstring
